
BANXA_BASEURL="https://komodo.banxa-sandbox.com"
BANXA_APIKEY=""
BANXA_SECRET=""
BANXA_BASEURL_PROD="https://komodo.banxa.com"
BANXA_APIKEY_PROD=""
BANXA_SECRET_PROD=""

RAMP_BASEURL="https://api.demo.ramp.network/api/host-api/v3"
RAMP_BASEURL_PROD="https://api.ramp.network/api/host-api/v3"
RAMP_APIKEY=""
RAMP_APIKEY_PROD=""
FASTFASTAPI_PORT="8889"
USE_MIDDLEWARE="True"
